GITHUB_ORGANIZATION="uit-inf-xxxx"
GITHUB_TOKEN=""
DISCORD_TOKEN=""
GRADING_FILE".grading.json"
CANVAS_TOKEN=""
COURSE_CODES="123"
CANVAS_URL="https://uit.instructure.com"
CANVAS_COURSE_ID="123"
TA_REPO=""
DEADLINE_FILE=""